/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/css/app.css
/public/js/app.js
/.phpintel/6330418b3f55544e4e032c89a538fb67
/.phpintel/index
/deploy-to-production.php
.phpintel/
.phpintel/*
/.phpintel/2835372212e8ea487001f3e2de0503d8
